.logo{
  width: 272px;
  height: 92px;
}
.key{
  display: flex;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.mike{
  display: flex;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding-left: 10px;
}
.searchbar{
  display: flex;
  width: 630px;
  height: 46px;
  border-radius: 30px;
  border: 1px solid #5f6368;
  justify-content: center;
  align-items: center;
}
.camera{
  display: flex;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding-left: 10px;
}
.btnBar{
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
}
.google-search{
  min-width: 54px;
  height: 36px;
  color: white;
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  margin-right: 10px;
  line-height: 35px;
  padding: 0 16px;
  text-align: center;
  text-justify: center;
  cursor: pointer;
}
.Feeling{
  min-width: 54px;
  height: 36px;
  color: white;
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  line-height: 35px;
  padding: 0 16px;
  text-align: center;
  text-justify: center;
  cursor: pointer;
}
.search{
  width: 30px;
  height: 30px;
  padding-right: 10px;
  cursor: pointer;
}
.search-box{
  display: flex;
  width: 420px;
  height: 42px;
  background-color: #202124;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  padding-left: 10px;
}
body{
  background-color: #202124;
}
.head-right-img{
  width: 20px;
  height: 20px;
  color: white;
}
.head-right-img2{
  width: 35px;
  height: 35px;
  color: white;
  border-radius: 2000px;
}
.logo-box{
  display: flex;
  width: 100%;
  height: 169.6px;
  justify-content: center;
  align-items: end;
}
.left-box{
  width: 230px;
  height: 60px;
  display: flex;
}
.right-box{
  padding: 20px 0px 20px 0px;
  width: 300px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.middle-box{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.head{
  display: flex;
  padding: 6px;
  justify-content:space-between;
  width: 98%;
  height: 60px;
}
.google-left{
  padding: 20px;
}
form:hover{
  background-color: #303134;
}
input:hover{
  background-color: #303134;
}
input:required{
  background-color: #303134;
}
a{
  text-decoration-line: none;
}
a:link {
  color : white;
}
a:visited {
  color : white;
}
a:hover {
  color : white;
  text-decoration-line: underline;
}
a:active {
  color : white;
}
.middle-foot{
  width: 100%;
  height: 186px;
}
.footer{
  width: 100%;
  height: 100px;
  color: white;
  justify-content: space-between;
  background: #171717;
}
.foot-top{
  width: 100%;
  height: 50.8px;
  border-bottom: 1px solid #5f6368;
  font-size: 15px;
  color: white;
  display: flex;
}
.foot-bottom{
  display: flex;
  width: 100%;
  height: 49px;
  justify-content: space-between;
}
.korea{
  font-size: 15px;
  padding: 15px 20px 15px 20px;
  margin: 0;
}
.foot-left{
  display: flex;
  width: 50%;
  height: 49px;
}
.fl{
  padding-left: 20px;
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
}
.fr{
  padding-right: 20px;
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
}